.info {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-left: 27%;
}
.info > img {
  object-fit: contain;
  width: 100%;
  max-width: auto;
}
.info > h2 {
  text-align: center;
}
.info > h3 {
  text-align: center;
}
