.edit {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.edit > h4 {
  margin-top: 15px;
}
.edit__actions {
  padding: 10px 15px;
  background-color: #202020;
  border: none;
  color: gray;
  text-align: center;
}
