.pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.pagination button {
  background-color: #1a1919 !important;
  color: white !important;
}
.pagination div {
  color: white !important;
}
.category__select {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.category__select > button {
  border: 2px solid #1a1919;
  border-radius: 10px;
  padding: 5px 10px;
  background: none;
  color: gray;
  transition: 0.3s;
}
.category__select > button:hover {
  background: rgb(255, 102, 51) !important;
  color: white !important;
}
.slider__parent p {
  margin-right: 15px;
  margin-left: 10px;
}
.slider span {
  color: rgb(255, 102, 51);
}
.slider span > span {
  color: white !important;
}
