.products__cards {
  display: flex;
  flex-wrap: wrap;
}
.products {
  background: #1a1919;
  border-radius: 4px;
  width: 252px;
  margin: 21px;
}
.products__img-parent {
  width: 100%;
  height: 180px;
  position: relative;
}
.products__img-child {
  background: rgba(128, 128, 128, 0.479);
  border-radius: 4px;
  position: absolute;
  right: 8px;
  top: 8px;
  padding: 5px;
  display: flex;
  justify-content: center;
}
.products__img-child > img {
  width: 20px;
  cursor: pointer;
}
.products__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}
.products__text {
  padding: 8px;
  display: flex;
  flex-direction: column;
}
.products__text > p {
  text-align: center;
}
.products__text > h4 {
  text-align: center;
}
.products__text > button {
  margin-top: 10px;
  border: 1px solid gray;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: gray;
  padding: 8px;
  transition: 0.3s;
}

.product__btn {
  cursor: pointer;
  margin: 10px;
}

.product__btns {
  display: flex;
  justify-content: space-around;
}

.products__text-btn:hover {
  background-color: rgb(255, 102, 51) !important;
  border: 1px solid rgb(255, 102, 51) !important;
  color: white !important;
}
