.footer {
  margin-top: 80px;
  padding: 24px 0;
  background-color: white;
}
.footer__text {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.footer__text > p {
  cursor: pointer;
}
.footer__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.footer__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 750px;
}

.footer__right {
  display: flex;
  width: 340px;
  justify-content: space-between;
}
.footer__right-phone {
  display: flex;
  align-items: center;
}
.footer__right-phone > img {
  width: 20px;
}
.footer__left > p {
  cursor: pointer;
}
