* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
a {
  text-decoration: none !important;
  font-size: 16px !important;
  color: white !important;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
h2 {
  font-weight: 700 !important;
  font-size: 36px !important;
  line-height: 150% !important;
  color: white;
}
h3 {
  font-weight: 700 !important;
  font-size: 24px !important;
  line-height: 150% !important;
  color: white;
  margin-bottom: 0 !important;
}
h4 {
  font-weight: 700 !important;
  font-size: 18px !important;
  line-height: 150% !important;
  color: white;
}
p {
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 150%;
  color: white;
  margin-bottom: 0 !important;
}

body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 200px;
  background: rgb(18, 18, 18) !important;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
